.app {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding: 3rem;
}

.postList {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.postList > div {
  padding: 1.25rem;
}

.postList > div > span:first-child {
  color: #3b82f6;
}

.postList > div > span:nth-child(2) {
  font-weight: 500;
}

.postList > div > div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.postSearch {
  width:100%;
  text-align: center;
}

.postSearch div:first-child {
  font-size:40px;
  font-weight:bold;
  padding:20px;
}

.postSearch div:nth-child(2){
  font-size:20px;
  padding:10px;
}

.postSearch div:last-child {
  width:100%;
  margin-bottom:2rem;
}

.postSearch div:last-child input {
  width: 70%;
  height:3rem;
}

.tabs {
  font-size:20px;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  margin-bottom:0.35rem;
}

.tabs a {
  display:inline-block;
  padding:1rem;
  font-weight: 500;
  border-radius: 5px;
 
}

.tabs a:hover {
  background-color:rgba(0, 0, 0, 0.1);
  color:rgba(59,130,246,0.5);
}


.active {
  color:#3b82f6;
  /* color:#3bf2f6; */
}
