.app {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding: 3rem;
}

.postList {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.postList > div {
  padding: 1.25rem;
}

.postList > div > span:first-child {
  color: #3b82f6;
}

.postList > div > span:nth-child(2) {
  font-weight: 500;
}

.postList > div > div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
