a {
  color:inherit;
  text-decoration: none;
}

.app {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding: 3rem;
}



.postList > div {
  padding: 1.25rem;
}

.postList > div > span:first-child {
  color: #3b82f6;
  font-size:20px;
}

.postList > div > span:nth-child(2) {
  font-weight: 500;
}

.post-id {
  color:#3b82f6;
  font-weight:500;
}

.post-title {
  font-weight:500;
}

.post-content  {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-top:0.25rem;
}


.postSearch div:first-child {
  font-size:40px;
  font-weight:bold;
  padding:20px;
}

.postSearch div:nth-child(2){
  font-size:20px;
  padding:10px;
}




.tab-a {
  color:#3b82f6;
}

.tab-b {
  color:#3b82f6;
}
